@page "/admin/assign-user-role/{id}"
@model AppRazor.Admin.User.AddRoleModel
@{
    ViewData["Title"] = "Gán vai trò";
}
<h3>Thiết lập role cho user: @Model.user.UserName</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <label asp-for="RoleNames" class="form-label"></label>
                @Html.ListBoxFor(m => m.RoleNames, @Model.allRoles, new {
                    id = "id-select-roles",
                    @class = "w-100"
                })
                <span asp-validation-for="RoleNames" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <a class="btn btn-primary" asp-page="./Index">Danh sách thành viên</a>
        </form>
        <hr>
        <p>Các đặc tính (claim) của người dùng có được từ vai trò (role):</p>
        @if (Model.claimsInRole.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.claimsInRole)
                {
                    <li>
                        @claim.ClaimType : @claim.ClaimValue
                    </li>
                }
            </ul>
        }
        <p>Các đặc tính (claim) riêng:
            <a asp-page="./EditUserRoleClaim" asp-page-handler ="AddClaim" asp-route-userid = "@Model.user.Id">+Thêm đặc tính riêng</a>
        </p>
        @if (Model.claimsInUserClaim.Count > 0)
        {
            <ul>
                @foreach (var claim in Model.claimsInUserClaim)
                {
                    <li>
                        <a asp-page="./EditUserRoleClaim" asp-page-handler="EditClaim" asp-route-claimid = "@claim.Id"> @claim.ClaimType : @claim.ClaimValue</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

@section Scripts {
    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
